.form{
	&__text-field{
		margin-bottom: 20px;
		label{
			display: inline-block;
			font-size: 20px;
			margin-bottom: 10px;
			font-weight: 600;
			color: #306291;
			cursor: pointer;
		}
	}
	&__line-input{
		position: relative;
		input{
			font-size: 18px;
			padding: 5px 10px;
			width: 100%;
			border: 1px solid #306291;
			border-radius: 4px;
		}
		&_password{
			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 33px;
				background: #306291;
				border-radius: 0px 4px 4px 0px;
			}
			input{
				padding: 5px 50px 5px 10px;
			}
		}
		img{
			position: absolute;
			top: 0;
			right: 5px;
			width: 30px;
			height: 33px;
			z-index: 10;
			cursor: pointer;
		}
	}
	&__error-field{
		margin-top: 7px;
		color: red;
		font-size: 15px;
	}
	&__btn{
		width: 100%;
		text-align: center;
		background-color: #306291;
		transition: all 0.5s ease 0s;
		color: #fff;
		font-size: 17px;
		padding: 10px;
		border-radius: 4px;
		&.active{
			background-color: rgb(83, 0, 0);
			pointer-events: none;
			box-shadow: 0px 5px 10px rgb(151, 0, 0);
		}
		@media(min-width: 992px) {
			&:hover{
				background-color: #21486d;
				transform: scale(0.9);
			}
		}
	}
}