.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #306291;
	padding: 20px 0px;
	&__title{
		color: #ffd23e;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
		h1{
			position: relative;
			&:before{
				position: absolute;
				content: "";
				bottom: -10px;
				left: 50%;
				width: 30%;
				height: 1px;
				background: #ffd23e;
				transform: translate(-50%, 0px);
			}
		}
	}
	&__log-out-container{
		background: #306291;
		border-radius: 0px 0px 10px 30px;
		padding: 15px;
		width: 150px;
		position: absolute;
		top: 100%;
		right: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		button{
			font-size: 19px;
			font-weight: 600;
			background: transparent;
			color: #ffd23e;
		}
	}
}

.content-header{
	display: flex;
	align-items: center;
	&__logo{
		position: relative;
		flex: 0 1 20%;
	}
	&__menu{
		flex: 1 1 auto;
	}
	&__search{
		flex: 0 1 20%;
	}
	&__input{
		width: 100%;
		height: 100%;
		padding: 5px 10px;
		font-size: 18px;
		border-radius: 4px;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 160px;
		transform: translate(0px, -40%);
	}
}

.menu-header{
	display: flex;
	justify-content: center;
	align-items: center;
	&__list{
		display: flex;
		li{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				color: #fff;
				font-size: 18px;
				&.active{
					color: #ffd23e;
				}
			}
		}
	}
}