.login-block{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}
	&__image{
		position: relative;
		flex: 0 1 400px;
		width: 200px;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__form{
		width: 300px;
	}
}
