.message-no-result{
	width: 100%;
	display: flex;
	justify-content: center;
	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img{
		flex: 0 1 50px;
		width: 50px;
		margin-bottom: 15px;
	}
	&__offer{
		font-size: 20px;
		text-align: center;
	}
}