.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
// Стилистика вспомогательных классов ::::::::::::::::::::::::::::::::::::::::::::::::::::
._container{
	width: 1130px;
	margin: 0 auto;
	padding: 0px 15px;
}

@import "notFoundPage";
@import "null";
@import "spinner";
@import "header";
@import "contentBlock";
@import "printPage";
@import "headerTable";
@import "footer";
@import "loginBlock";
@import "noResultFilterMessage";
@import "form";